const replaceXWithY = (string): <IO> =>
IO
.of(string)
.map(string => string.replace('x', 'y'));

const appendWithCaFlag = (string): <IO> =>
IO
.of(string)
.map(string => `${string} 🇨🇦`);

IO
.of('xyz')
.chain(replaceXWithY)
.chain(appendWithCaFlag)
.run();
// yyz 🇨🇦
